#one{
  
  text-align: center;
  height: 100px;
  width: 100px;
 border-style: solid;
  background-color: aqua;
  margin-right: 20px
  
}
#two{
  
  text-align: center;
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: red;
  margin-right: 20px
}
#three{
  text-align: center;
  height: 100px;
  width: 100px;
  border-style: solid;
  background-color: blue;
}
body{
  justify-content:center;
  display:flex;
  margin-top: 100px;
}
